@page "/"

<PageTitle>Omnis Board Game Club - Home</PageTitle>

<OmnisNews />

<AboutOmnis />

<AboutBGC />

<div class="reservation-call-container">
	<h2>Junta-te a nós e vem conhecer a Omnis BGC</h2>
	<a href="Login" class="btn btn-primary btn-lg reservation-call-button">Faz já a tua reserva!</a>
</div>

<OmnisEvents />