<h1>O que é o Omnis BGC?</h1>

<div class="card mb-3 about-omnis-bgc-container">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="https://dummyimage.com/600x600/d4d4d4/000000" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula urna, aliquet laoreet vestibulum quis, viverra vitae tellus. Proin a massa at nibh rutrum cursus vel feugiat nisi. In at gravida nulla. Maecenas viverra mauris eget nisl semper, ac condimentum augue commodo. Vivamus diam mi, consequat vel sapien at, congue dapibus sapien. In justo massa, iaculis ut tempor ac, sollicitudin vitae sapien. Aenean vitae varius lectus. Curabitur porttitor, lacus ut dictum mollis, turpis massa facilisis mi, a euismod velit quam in erat. Maecenas hendrerit feugiat lacinia. Quisque viverra dignissim pharetra.
                    Sed tempor, magna a semper dictum, diam eros dictum eros, vel efficitur felis nulla ac libero. Phasellus convallis elit eget quam eleifend suscipit. Nam elementum commodo pharetra. In hac habitasse platea dictumst. Ut vel molestie augue. Nunc at maximus metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce maximus rhoncus pellentesque. Etiam tincidunt a massa ac dictum. Maecenas tincidunt nisl varius nunc malesuada vehicula.
                    Pellentesque ligula urna, aliquet laoreet vestibulum quis, viverra vitae tellus. Proin a massa at nibh rutrum cursus vel feugiat nisi. In at gravida nulla. 
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}
